[submodule "plugins/zsh-docker-aliases"]
	path = plugins/zsh-docker-aliases
	url = git@github.com:akarzim/zsh-docker-aliases.git
[submodule "plugins/zsh-dircolors-solarized"]
	path = plugins/zsh-dircolors-solarized
	url = git@github.com:joel-porquet/zsh-dircolors-solarized.git
